html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#waiting-screen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 0;
    margin: 0;
    background-color: rgba(100, 100, 100, 0.7);
}

#root {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.tab-content {
    padding: 10px;
    border: 1px solid transparent;
    border-color: #dee2e6;
    border-top: none;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.full-width {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.fa {
    font-size: 1.3rem !important;
}